.sec4-title{
    text-align: center;
}
.sec4-img{
    height:  500px;
    width:  450px;
}
.section4{
    display: flex;
    gap: 7%;
}
.sec4-text{
    font-size: 17px;
    font-weight: 400;
    color: #353863;
    width: 450px;
    line-height: 40px;
}
.sec4-right{
    margin-top: 5%;
}
.sec4Span-text{
    color: #aaaa;
    font-weight: 400;
}
.sec4-bottom{
    display: flex;
    align-items: center;
    gap: 55%;
}
