.section {
    display: flex;
}

.sec-title {
    margin-top: 20%;
    font-size: 40px;
}

.sec-text {
    color: #363853;
    font-size: 20px;
    font-weight: 400;
    width: 450px;
}

.sec-span {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.secSpan-img {
    width: 44px;
    height: 40px;
}

.secSpan-text {
    color: #363853;
    font-size: 24px;
    font-weight: 400;
}

.sec-btn {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 35px;
    border: none;
    background: #FF7A50;
    color: #fff;
    margin-left: 35%;
}

.sec-btn:hover {
    background: rgba(250, 213, 167, 0.886);
    color: #FF7A50;
    border: 2px solid #FF7A50;
}