.footer-span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location {
    width: 25px;
    height: 25px;
}

.footer-h3 {
    color: #37383D;
    font-weight: 400;
    font-size: 16px;
}

.footer-logo {
    width: 100px;
    height: 30px;
}

.footer-words {
    font-size: 18px;
    font-weight: 500;
    color: #37383D;
    line-height: px;

}
.footer-icon{
    display: flex;
    gap: 10px;
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 10%;
}

.footer-list2 {
    display: flex;
    align-items: center;
    gap: 7%;
}

.footer-link {
    width: 200px;
    font-size: 18px;
    color: #37383D;
    font-weight: 400;
    line-height: 25px;
}
.footer-teg{
color: #646464;
font-size: 14px;
font-weight: 400;
}

.footer-span2{
    display: flex;
    gap: 30%;
}
.footer-div{
    display: flex;
    gap: 65%;
}
